[submodule "simple-utils"]
	path = simple-utils
	url = git@github.com:eaglesakura/simple-utils.git
[submodule "simple-serialize"]
	path = simple-serialize
	url = git@github.com:eaglesakura/simple-serialize.git
[submodule "android-text-kvs"]
	path = android-text-kvs
	url = git@github.com:eaglesakura/android-text-kvs.git
[submodule "android-canvas-graphics"]
	path = android-canvas-graphics
	url = git@github.com:eaglesakura/android-canvas-graphics.git
[submodule "android-simple-utils"]
	path = android-simple-utils
	url = git@github.com:eaglesakura/android-simple-utils.git
[submodule "android-thread"]
	path = android-thread
	url = git@github.com:eaglesakura/android-thread.git
[submodule "android-net"]
	path = android-net
	url = git@github.com:eaglesakura/android-net.git
[submodule "android-command-service"]
	path = android-command-service
	url = git@github.com:eaglesakura/android-command-service.git
[submodule "simple-logger"]
	path = simple-logger
	url = git@github.com:eaglesakura/simple-logger.git
[submodule "greendao-wrapper"]
	path = greendao-wrapper
	url = git@github.com:eaglesakura/greendao-wrapper.git
[submodule "json-wrapper"]
	path = json-wrapper
	url = git@github.com:eaglesakura/json-wrapper.git
[submodule "geo-utils"]
	path = geo-utils
	url = git@github.com:eaglesakura/geo-utils.git
[submodule "android-framework"]
	path = android-framework
	url = git@github.com:eaglesakura/android-framework.git
[submodule "android-bluetooth"]
	path = android-bluetooth
	url = git@github.com:eaglesakura/android-bluetooth.git
[submodule "small-aquery"]
	path = small-aquery
	url = git@github.com:eaglesakura/small-aquery.git
[submodule "onactivityresult-invoke"]
	path = onactivityresult-invoke
	url = git@github.com:eaglesakura/onactivityresult-invoke.git
[submodule "android-egl"]
	path = android-egl
	url = git@github.com:eaglesakura/android-egl.git
[submodule "gradle-plugin-utils"]
	path = gradle-plugin-utils
	url = git@github.com:eaglesakura/gradle-plugin-utils.git
[submodule "android-dex-report"]
	path = android-dex-report
	url = git@github.com:eaglesakura/android-dex-report.git
[submodule "rxandroid-support"]
	path = rxandroid-support
	url = git@github.com:eaglesakura/rxandroid-support.git
[submodule "plugin-ci-support"]
	path = plugin-ci-support
	url = git@github.com:eaglesakura/plugin-ci-support.git
[submodule "plugin-android-dbgenerator"]
	path = plugin-android-dbgenerator
	url = git@github.com:eaglesakura/plugin-android-dbgenerator.git
[submodule "android-devicetest-support"]
	path = android-devicetest-support
	url = git@github.com:eaglesakura/android-devicetest-support.git
[submodule "android-unittest-support"]
	path = android-unittest-support
	url = git@github.com:eaglesakura/android-unittest-support.git
[submodule "margarineknife"]
	path = margarineknife
	url = git@github.com:eaglesakura/margarineknife.git
[submodule "plugin-android-mipmap"]
	path = plugin-android-mipmap
	url = git@github.com:eaglesakura/plugin-android-mipmap.git
[submodule "garnet"]
	path = garnet
	url = git@github.com:eaglesakura/garnet.git
[submodule "android-apptour"]
	path = android-apptour
	url = git@github.com:eaglesakura/android-apptour.git
